<!DOCTYPE html>
<html>
<head>
  <title>POS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="head">
  <h1> Sistema POS</h1>
</div>

<div id="content">
  <div class="content">

    <%- flash.each do |key, msg| -%>
        <div id="<%= key %>">
          <p style="float:right;"><%= link_to_function 'X', "Effect.Fade('#{key}')" %></p>
          <p><%= msg %></p>
          <div class="clear"></div>
        </div>
    <%- end -%>
    <%= yield %>
  </div>
</div>
<div id="footer">
  <ol>
    <li>Hugo Espinosa, código :201119702010 </li>
    <li>Jonathan Acevedo, código :200919404010</li>
</div>



</body>
</html>
