<!DOCTYPE html>
<html>
<head>
  <title>FacturacioneInventario</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= "Ver productos", productos_path %>
<%= "Ver Ventas", ventas_path %>


<%= yield %>

</body>
</html>
